<!-- Lets make a gauge chart using canvas and js -->
<canvas id="canvas" width="600" height="600">

<!-- Style Section -->
<link rel="stylesheet" type="text/css" href="styles.css">

<!-- Scripts Section -->
<script type="text/javascript" src="gauge.js"> </script>
