@import
url(https://fonts.googleapis.com/css?family=Oswald|Lato);

body {
	background: #FFFFFF;
}
/*Centering the gauge*/
#canvas {
	display: block;
	margin: 100px auto;
}
/*Custom font for numbers*/
